RColorBrewer
Rmisc
assertthat
boot
brms
cluster
dagitty
dichromat
dplyr
fossil
ggdag
ggparty
ggplot2
ggtext
igraph
knitr
partykit
patchwork
pdfCluster
plyr
proxy
purrr
readxl
stringi
stringr
tidyr
vegan
